<p>
  <b>No:</b>
  <%=h @lecture.no %>
</p>

<p>
  <b>Title:</b>
  <%=h @lecture.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @lecture.description %>
</p>

<p>
  <b>Category1:</b>
  <%=h @lecture.category1 %>
</p>

<p>
  <b>Category2:</b>
  <%=h @lecture.category2 %>
</p>

<p>
  <b>Credit:</b>
  <%=h @lecture.credit %>
</p>

<p>
  <b>Price:</b>
  <%=h @lecture.price %>
</p>

<p>
  <b>Instructor:</b>
  <%=h @lecture.instructor %>
</p>

<p>
  <b>Purpose:</b>
  <%=h @lecture.purpose %>
</p>

<p>
  <b>Plan:</b>
  <%=h @lecture.plan %>
</p>

<p>
  <b>Evaluation:</b>
  <%=h @lecture.evaluation %>
</p>

<p>
  <b>Textbook:</b>
  <%=h @lecture.textbook %>
</p>

<p>
  <b>Remark:</b>
  <%=h @lecture.remark %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
