<!-- #こんにちは<%= @people[0].name %>さん
#こんにちは<%= @people[1].name %>さん
#こんにちは<%= @people[2].name %>さん -->

<% @people.each do |person| %>
  <% if person.gender == 0 %>
    <p>こんにちは<%= person.name %>くん</p>
  <% else %>
    <p>こんにちは<%= person.name %>ちゃん</p>
  <% end %>
<% end %>