<h1>Listing lessons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Lecture title</th>
    <th>Instructor</th>
    <th>Url</th>
    <th>Remark</th>
  </tr>

<% for lesson in @lessons %>
  <tr>
    <td><%=h lesson.title %></td>
    <td><%=h lesson.description %></td>
    <td><%=h lesson.lecture_title %></td>
    <td><%=h lesson.instructor %></td>
    <td><%=h lesson.url %></td>
    <td><%=h lesson.remark %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Destroy', lesson, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lesson', new_lesson_path %>
