<h1>New purchase</h1>

<% form_for @purchase, :url => {:controller => 'admin/purchases', :action => 'create'}  do |f| %>
  <%= f.error_messages %>

  <p>
    User: <%=h @user.name %>
    <%= f.text_field :user_id, :value => @user.user_id, :readonly => true %>
  </p>
  <p>
    Lecture: <%=h @lecture.title %>
    <%= f.text_field :lecture_no, :value => @lecture.no, :readonly => true %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end, :include_blank => true, :default => nil %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_user_path(@user.id) %>
